<!-- <p style="color: aqua;">{{milena}}</p> -->
<section class="container flex">
  <div class="flexItem6">
    <img class="imgBall" src="../../../assets/img/basketball-ball.svg" alt="" />
  </div>

  <div class="flexItem2"></div>

  <div class="flexItem4">
    <div class="divRight">
      <h3>Seja Bem-vindx !</h3>

      <input
        type="text"
        name="loginUser"
        id="loginUser"
        class="userLogin"
        placeholder="Login"
        data-ng-model="loginUser"
        data-ng-focus="removeError();"
      />

      <p class="errorLogin" data-ng-show="errorLoginShow">Login incorreto</p>

      <br />

      <button data-ng-click="checkLogin(loginUser);" class="buttonLogin">
        Entrar
      </button>

      <br />
      <a class="singLogin" ui-sref="signin"><b> Sing-In </b></a>
    </div>
  </div>
</section>

<!-- <div class="container">
  
  
</div> -->
