<header>
  <ul class="navBar">
    <li>
      <span data-ng-click="openAndCloseMenu();"
        ><img
          src="../../../assets/img/menu-white-48dp.svg"
          alt="icon de menu de hamburger"
      /></span>
    </li>

    <li class="logout" data-ng-click="logoutFun();">Logout</li>
  </ul>
</header>

<div class="menu" data-ng-show="stateMenu">
  <ul>
    <li class="optionsMenu theX">
      <span data-ng-click="openAndCloseMenu();"
        ><img src="../../../assets/img/close-black-48dp.svg" alt="icon de x"
      /></span>
    </li>
    <li class="optionsMenu liFirst">
      <a class="itens" ui-sref="writePontis"><span>Lançar Pontos</span></a>
    </li>
    <li class="optionsMenu">
      <a class="itens" ui-sref="seeResults"><span>Ver Resultados</span></a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="flexItem2"></div>

  <div class="flexItem8 bodyAllGames">
    <h1>Olá {{user.name}} aqui estão os seus jogos</h1>

    <br />
    <table class="tableHome">
      <tr>
        <th>ID Jogo</th>
        <th>Data</th>
        <th>Pontos</th>
      </tr>

      <tr data-ng-repeat="game in allGames">
        <td>{{ game.id }}</td>
        <td>{{ game.gameDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ game.quantPoints }}</td>
      </tr>
    </table>
  </div>

  <div class="flexItem2"></div>
</div>
